$blue-primary: #3363FF;
$blue-secondary: #001866;
$blue-tertiary: #99B1FF;
$orange-primary: #FD8E35;
$orange-secondary: #CA5B02;
$orange-tertiary: #FEC69A;
$gray-primary: #F8F8F9;
$gray-secondary: #E3E5E9;
$gray-tertiary: #FFFFFF;
$gray-fourthy: #c2c2c2;